/* Import fonts */
@import url('https://use.typekit.net/axj3pfd.css'); /* For Styrene and Tiempos */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500&display=swap');

/* Define font variables */
:root {
  --font-heading: 'styrene-a', 'styrene-b', sans-serif;
  --font-body: 'tiempos-text', serif;
  --font-code: 'JetBrains Mono', monospace;
}
